.footer__column_link {
    font-size: 16px;
    line-height: 18px;
    display: flex;
    margin-bottom: 10px;
    transition: opacity 0.2s ease-in-out;
    color: #fff;
    text-decoration: none;
 }

 .footer__column_link:hover {
     opacity: 0.75;
 }