.feynman {
    position: relative;
    padding: 100px 0px 346px 0px;
    margin: 0px auto;
    background: #F2F2F2;
    background-image: url('./feynman.png');
    background-repeat: no-repeat;
    background-size: 867px 637px;
    background-position: left bottom;
}