.kaufman__triangle {
     position: absolute;
     right: -210px;
     bottom: -210px;
     width: 995px;
     height: 1006px;
     background-image: url('./triangle.svg');
     background-size: 100%;
     background-repeat: no-repeat;
}