.khan__book-pic {
    width: 620px;
    height: 608px;
    margin-right: 48px;
    background-image: url('./pic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}